<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-combined.min.css">
</head>
<body>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<h3 class="text-center text-success" style="margin-top:40px">
				Describing Images in Natural Language
			</h3>
			<div class="row-fluid" style="margin:70 auto; width: 1500px;">
				<div class="span1">
				</div>
				<div class="span10">
					<div class="row-fluid">
						<div class="span6">
							<form class="form-inline" action="/mnlm/" method="post">
								{% csrf_token %}
								<fieldset>
									<label for="im_index">序号：</label>
									<input type="number" min="0" max="1961" id="im_index" name="im_index" style="height:25px"/> 
									<input type="submit" value="提交">
								</fieldset>
							</form>
							<form class="form-inline" action="/mnlm/upload/" method="post" enctype="multipart/form-data">
								{% csrf_token %}
								<fieldset>
									<input type="file" accept="image/*" name="upload_im" style="width:252px" />
									<input type="submit" value="上传" />
								</fieldset>
							</form>
							<img class="img-rounded" alt="140x140" src="{{ im_path }}" />
							<div style="height:500px;overflow:auto;margin-top:20px;" >
							{% for title, desc in descs%}
							<div>
								<h5 style="margin-top:40px">
									{{ title }}：
								</h5>
								<div>
									{% for d in desc %}
									<p>{{ d }}</p>
									{% endfor %}
								</div>
							</div>
							{% endfor%}
							</div>
						</div>
						<div class="span6">
							 <div style="margin-bottom:40">
							 	{% if similar_path%}
							 	<h5 style="margin-top:40px">
									相似图片：
								</h5>
								{% for im in similar_path %}
								<img class="img-rounded" alt="140x140" src="{{ im }}"  width="140" height="140" style="margin:10"/>
								{% endfor %}
							 	{% endif %}
							 </div>
							<a href="/mnlm/{{ cur_index }}">换一批...</a><br />
							 {% for i, im in ran_im_dict %}
							 <a href="/mnlm/{{ i }}/">
							 <img class="img-rounded" alt="140x140" src="{{ im }}"  width="140" height="140" style="margin:10"/>
							 </a>
							 {% endfor %}
							 <div style="margin:80 60">
							 	<ul>
							 		<li>
							 			<a href="/mnlm/evaldiffinit/">Which sentence is better?</a>
							 		</li>
							 		<li>
							 			<a href="/mnlm/diffinitresults/">Results from different context</a>
							 		</li>
							 	</ul>	
							 </div>
						</div>
					</div>
				</div>
				<div class="span1">
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
